<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h1></h1>
<div>
    <table border="2">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
        <tr th:each  = "user : ${users}">
            <td th:text = "${user.getId}">ID</td>
            <td th:text = "${user.getName}">Name</td>
            <td th:text = "${user.getSurname}">Surname</td>
            <td th:text = "${user.getAge}">Age</td>
            <td th:text = "${user.getEmail}">Email</td>
            <td> <a th:href="@{/users/{id}/edit(id=${user.getId})}">Edit</a></td>
            <td> <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId})}">
                <input type="submit" value="Delete!"/>
            </form></td>
        </tr>
    </table>
</div>
<br/>
<hr/>
<a href ="/users/new">Create new user!</a>
</body>
</html>
